.form-group {
    margin-bottom: 10px;
    /*display: flex;*/
    align-items: left;
    width: 250px;
    font-weight: bold;
  }
  
  .label {
    width: 100px;
    margin-right: 10px;
    text-align: left;
  }
  
  .input-wrapper {
    flex-grow: 1;
  }

  .check-box{
    flex-grow: 1;
    color: #f40a0a;
  }
  
  .form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #15b115;
    color: #fff;
    padding: 10px 20px;
    border:black;
    border-radius: 4px;
  }
  
  .btn-ajouter {
    float: right;
    background-color: #4966e7;
    color: #fff;
    padding: 100px 200px;
    border:black;
    border-radius: 4px;
    position:relative;
    right: 200;
    bottom: 100;
  }

  .blue-background {
    background-color: rgb(225, 194, 126);
    padding: 10px 20px;
}

.mvt-background {
  background-color: rgb(28, 163, 197);
  padding: 10px 20px;
}

.narrow-field {
  width: 100px; /* Définissez la largeur souhaitée */
}

.narrow-field-date {
  width: 200px; /* Définissez la largeur souhaitée */
}

.fixed-header {
  position: sticky;
  top: 0;
  margin-top: -10px;
 /* left: 0;
  width: 100%;
  z-index: 1; *//* Assurez-vous que les labels sont superposés au contenu */
}
