@page
@model IndexModel
@{
    ViewData["Title"] = "Gestion de courrier";
}

<div class="text-center">
    <h1 class="display-4">GESTION DE COURRIER</h1>

    <div style="display: flex;" >
  <div style="flex: 1;" class="blue-background">
            @Html.Partial("~/Views/Courrier/CreateCourrier.cshtml", new MonNameSpaceGestionCourrier.ViewModels.CourrierViewModel())
  </div>
  <div style="flex: 1;">
            @Html.Partial("~/Views/Mouvement/CreateMouvement.cshtml", new MonNameSpaceGestionCourrier.ViewModels.MouvementViewModel())
  </div>
</div>


</div>



