@page
@model IndexModel
@{
    ViewData["Title"] = "Gestion de courrier";
}

<div class="text-center">
    <h1 class="display-4">page d'accueil</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Gestion de courrier</a>.</p>
</div>

