@model MonNameSpaceGestionCourrier.ViewModels.MouvementViewModel

<h2>Mouvement Courrier</h2>

@using (Html.BeginForm("CreateMouvement", "Mouvement", FormMethod.Post))
{
    <div style="height: 300px; overflow-y: scroll;">
        <table>
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Acteur</th>
                    <th>Date Mouvement</th>
                    <th>Nom Dépositaire</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Statut, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Acteur, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.DateMouvement, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Nom_depositaire, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
